Employees/src/main/resources/employee.wsdl

<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="http://example.com/data"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://example.com/data"
	targetNamespace="http://example.com/data">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified"
			targetNamespace="http://example.com/data">
			<xs:element name="saveRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name" type="xs:string" />
						<xs:element name="surename" type="xs:string" />
						<xs:element name="documentType" type="xs:string" />
						<xs:element name="document" type="xs:string" />
						<xs:element name="birthdate" type="xs:string" />
						<xs:element name="startDate" type="xs:string" />
						<xs:element name="position" type="xs:string" />
						<xs:element name="salary" type="xs:double" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="saveResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:int" />
						<xs:element name="name" type="xs:string" />
						<xs:element name="surename" type="xs:string" />
						<xs:element name="documentType" type="xs:string" />
						<xs:element name="document" type="xs:string" />
						<xs:element name="birthdate" type="xs:string" />
						<xs:element name="startDate" type="xs:string" />
						<xs:element name="position" type="xs:string" />
						<xs:element name="salary" type="xs:double" />
						<xs:element name="message" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="saveRequest">
		<wsdl:part element="tns:saveRequest" name="saveRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="saveResponse">
		<wsdl:part element="tns:saveResponse" name="saveResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="DataPort">
		<wsdl:operation name="save">
			<wsdl:input message="tns:saveRequest" name="saveRequest">
			</wsdl:input>
			<wsdl:output message="tns:saveResponse"
				name="saveResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DataPortSoap11" type="tns:DataPort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="save">
			<soap:operation soapAction="" />
			<wsdl:input name="saveRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="saveResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DataPortService">
		<wsdl:port binding="tns:DataPortSoap11"
			name="DataPortSoap11">
			<soap:address location="http://localhost:8081/ws" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>